<h3>Sign Up Form</h3>
<section id="main">
 <form action="welcome.html" method="get">
       <label >Firs name:</label>
           <br>
           <br>
        <input type="text">
           <br>
           <br>
       <label>Last name:</label><br><br>
       <input type="text">
		   <br>
           <br>
       <span> Gender:</span>
           <br>
           <br>
       <input type="radio">
       <label for="male">Male</label><br>
       <input type="radio">
       <label for="female">Female</label><br>
       <input type="radio">
       <label for="other">Other</label>
            <br>
            <br>
      <label>Nationality:</label>
            <br>
            <br>
		<select>
         <option value="indonesia">Indonesia</option>
          <option value="malaysia">Malaysia</option>
          <option value="singapura">Singapura</option>
          <option value="australia">Australia</option>
          </select>
          <br>
          <br>
        <label>Language Spoken:</label>
	        <br>
           <br>
       <input type="radio">
       <label for="bahasa indonesia">Bahasa Indonesia</label><br>
       <input type="radio">
       <label for="english">English</label><br>
       <input type="radio">
       <label for="other">Other</label>
       <br>
       <br>
       <label>Bio:</label>
       <br><br>
       <textarea rows="8" cols="40"></textarea>
        <br>
       <input type="submit" value="Sign Up">
      </form>
     </section>